{% extends 'Admin_index.html' %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-12 grid-margin transparent">
    <div class="row">
      <div class="col-md-4 mb-4 stretch-card transparent" style="height: 130px;">
        <a href="{% url 'Admin_clients'%}" style="text-decoration: none; color: white;">
          <div class="card card-tale">
              <!-- <a href="" style="text-decoration: none; color: white;"> -->
            <div class="card-body">
              <p class="mb-4"></p>
              <h4>Clients</h4>
              <!-- <p class="fs-30 mb-6" style="margin-top: 30px;">Expenses</p> -->
              <p></p>
            </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-4 stretch-card transparent" style="height: 130px;">
      <a href="{% url 'Admin_staffs'%}" style="text-decoration: none; color: white;">
        <div class="card card-dark-blue">
              <!-- <a href="" style="text-decoration: none; color: white;"> -->
          <div class="card-body">
            <p class="mb-4"></p>
            <h4>Staffs</h4>
            <!-- <h4 class="mb-4" style="font-size: 27px; margin-top: 30px;">Find Expenses</h4> -->
            <p></p>
          </div>
      </a>
    </div>
  </div>
      </div>     
  </div>
</div>
{% endblock %}