{% extends 'Admin_index.html'%}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Registrations</h4>
        <div class="table-responsive ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                    Name
                </th> 
                <th style="background-color: green; color: #fff;">
                  User Name
                </th>
                <th style="background-color: green; color: #fff;">
                    Mobile
                </th>
                <th style="background-color: green; color: #fff;">
                    Email
                </th>
                <th style="background-color: green; color: #fff;">
                    Address
                </th>
                <th style="background-color: green; color: #fff;">
                  Pincode
                </th>
                <th style="background-color: green; color: #fff;">
                  District
                </th>
                <th style="background-color: green; color: #fff;">
                    Password
                </th>
                <!-- <th style="background-color: green; color: #fff;">
                  Photo
                </th> -->
                <th style="background-color: green; color: #fff;">
                  Designation
                </th>
                <th style="background-color: green; color: #fff;">
                  Team
                </th>
                <th style="background-color: green; color: #fff;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              
              {% for i in var %}
              {% if i.designation == NULL%}
              <tr>
                <form action="{% url 'registersave' i.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
              <td>{{i.name}}</td>
              <td>{{i.username}}</td>
              <td>{{i.mobile}}</td>
              <td>{{i.email}}</td>
              <td>{{i.address}}</td>
              <td>{{i.pin}}</td>
              <td>{{i.district}}</td>
              <td>{{i.password}}</td>
              <!-- <td><img src="{{i.photo.url}}" alt="image" /></td> -->
              <td><select class="btn btn-primary btn-sm" name="designation" required>
                <option selected="true" disabled="disabled" value="">-Not Selected-</option>
                {% for n in des%}
                  {% if n.designation != 'Admin' %}
                    <option value="{{n.id}}">{{n.designation}}</option>
                  {% endif %}
                {%endfor%}
              </select></td>
              <td><select class="btn btn-primary btn-sm" name="team">
                <option selected="true" disabled="disabled" value="">-Not Selected-</option>
                {%for k in st%}
                <option>{{k.name}}</option>
                {%endfor%}
              </select></td>
              <td><button type="submit" class="btn btn-warning btn-sm">
                <i class="ti-check-box pr-2"></i>Save</button>
            </td>
          </form>
          </tr>
              {%endif%}
              {% endfor %}
          
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 3000
        }).then(function () {
            javascript: history.go(-2);
        })
        
    </script>
    {% endif %}


{% endblock %}