{% extends 'Admin_index.html'%}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-5 col-lg-10"></div>
            <div class="col-7 col-sm-4 col-md-3 col-lg-2">
                <a href="{% url 'Admin_add_chart' %}" class="btn" style="background-color: blueviolet; color: white;">Add New</a>
            </div>
          </div>
        <h4 class="card-title">Chart Details</h4>
        <div class="table-responsive ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                    Name
                </th> 
                <th style="background-color: green; color: #fff;">
                  One
                </th>
                <th style="background-color: green; color: #fff;">
                    Two
                </th>
                <th style="background-color: green; color: #fff;">
                    Three
                </th>
                <th style="background-color: green; color: #fff;">
                    Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in var %}
              <tr style="background-color: rgb(241, 249, 252);">
                <td>{{i.user}}</td>              
                <td>{{i.a}}</td>
                <td>{{i.b}}</td>
                <td>{{i.c}}</td>
                <td>
                    <a href="{% url 'Admin_viewedit_chart' i.id%}">
                      <div class="btn  btn-sm" style="color: white;  background-color: maroon;"><i class="ti-reload pr-2"></i>View/Edit</div>
                    </a>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}