{% load static %}
<html>
    <head>
        <title>Farm Dashboard</title>
        <link rel="shortcut icon" href="{% static 'images/logo_t.png' %}" />
        <h2>Farm Expense Details</h2>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script type="text/javascript" src="downloadFile.js"></script>
        <style>
            #tblStocks {
              font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
     
            #tblStocks td, #tblStocks th {
              border: 1px solid #ddd;
              padding: 8px;
            }
     
            #tblStocks tr:nth-child(even){background-color: #f2f2f2;}
     
            #tblStocks tr:hover {background-color: #ddd;}
     
            #tblStocks th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #294c67;;
                color: white;
              }
          </style>
    </head>
    <body>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
        <button onclick="exportData()" style="background-color: rgb(12, 11, 11); color: white;" >
            <span class="glyphicon glyphicon-download"></span>
            Download</button>
        </div>
      </div>
      
            <table id="tblStocks" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                      <th style="background-color: green; color: #fff;">
                          User Name
                      </th>
                      <th style="background-color: green; color: #fff;">
                        Expenditure Type
                      </th>
                      <th style="background-color: green; color: #fff;">
                        Date
                      </th>
                      <th style="background-color: green; color: #fff;">
                        Expense Type
                      </th>
                      <th style="background-color: green; color: #fff;">
                        Type Description
                       </th>
                      <th style="background-color: green; color: #fff;">
                         Quantity/Time
                      </th>
                      <th style="background-color: green; color: #fff;">
                          Cost per Unit
                      </th>
                      <th style="background-color: green; color: #fff;">
                        Total Cost
                       </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in var %}
                    <tr style="background-color: rgb(241, 249, 252);">
                      <td>{{i.user}}</td>
                      <td>{{i.expenditure}}</td>
                      <td>{{i.date|date:"d-m-Y"}}</td>
                      <td>{{i.expense}}</td>
                      <td>{{i.type_description}}</td>
                      <td>{{i.quantity}}</td>
                      <td>{{i.price}}</td>
                      <td>{{i.total_cost}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
    </body>
    </html>
    <script>
        function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("tblStocks");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        // column8 = row.cells[7].innerText;
        // column9 = row.cells[8].innerText;
        // column10 = row.cells[9].innerText;
        // column11 = row.cells[10].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                // column8
                // column9,
                // column10,
                // column11
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Expense_Report.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
        }
    </script>