{% extends 'Admin_index.html' %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-12 grid-margin transparent">
    <div class="row">
      <div class="col-md-4 mb-4 stretch-card transparent" style="height: 130px;">
        <a href="{% url 'Admin_clients'%}" style="text-decoration: none; color: white;">
          <div class="card card-tale">
              <!-- <a href="" style="text-decoration: none; color: white;"> -->
            <div class="card-body">
              <p class="mb-4"></p>
              <center>
                <h3>Clients</h3> 
                <!-- <p class="fs-30 mb-6" style="margin-top: 30px;">Expenses</p> -->
                <p></p>
                <h3>{{ Num }}</h3>
              </center>
            </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-4 stretch-card transparent" style="height: 130px;">
      <a href="{% url 'Admin_staffs'%}" style="text-decoration: none; color: white;">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4"></p>
            <center>
              <h3>Staffs</h3>
              <p></p>
              <h3>{{ Num1 }}</h3>
            </center>
          </div>
      </a>
    </div>
  </div>
      </div>     
  </div>
</div>
{% endblock %}