{% extends 'Admin_index.html'%}
{% load static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fertilizer Applications Details</h4>
        <div class="form-group">
          <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search Here.." title="Type in a name" >
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                   User Name
                </th>
                <th style="background-color: green; color: #fff;">
                 Fertilizer
                </th>
                <th style="background-color: green; color: #fff;">
                  Plant Name
                 </th>
                <th style="background-color: green; color: #fff;">
                  Location
                </th>
                <th style="background-color: green; color: #fff;">
                  Brand Name
                </th>
                <th style="background-color: green; color: #fff;">
                   Applied Quantity
                </th>
                <th style="background-color: green; color: #fff;">
                    Applied Date
                </th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for i in var %}
              <tr style="background-color: rgb(241, 249, 252);">
                <td>{{i.user}}</td>
                <td>{{i.fertilizer}}</td>
                <td>{{i.plant_name}}</td>
                <td>{{i.place}}</td>
                <td>{{i.brand_name}}</td>
                <td>{{i.applied_quantity}}</td>
                <td>{{i.applied_date|date:"d-m-Y"}}</td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}