{% extends 'Admin_index.html'%}
{% load static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <button onclick="exportData()" style="background-color: rgb(58, 21, 92); color: white; border-radius: 15px;
            height: 42px; width: 110px;" >
              <span class="glyphicon glyphicon-download"></span>
              Download</button>
          </div>
    
          <div class="col-md-2">
            <a href="{% url 'Admin_find_expense' %}" class="btn" style="background-color: rgb(8, 26, 41); color: white;">Find</a>
          </div>
        </div>
        <h4 class="card-title">Farm Expense Details</h4>
        <div class="form-group">
          <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search Here.." title="Type in a name" autocomplete="off">
        </div>
        <div class="table-responsive">
          <table id="tblStocks" class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                   User  Name
                </th>
                <th style="background-color: green; color: #fff;">
                  Expenditure Type
                </th>
                <th style="background-color: green; color: #fff;">
                  Date
                </th>
                <th style="background-color: green; color: #fff;">
                  Expense Type
                </th>
                <th style="background-color: green; color: #fff;">
                  Type Description
                 </th>
                <th style="background-color: green; color: #fff;">
                   Quantity/Time
                </th>
                <th style="background-color: green; color: #fff;">
                    Cost per Unit
                </th>
                <th style="background-color: green; color: #fff;">
                  Total Cost
                 </th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for i in var %}
              <tr style="background-color: rgb(241, 249, 252);">
                <td>{{i.user}}</td>
                <td>{{i.expenditure}}</td>
                <td>{{i.date|date:"d-m-Y"}}</td>
                <td>{{i.expense}}</td>
                <td>{{i.type_description}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.price}}</td>
                <td>{{i.total_cost}}</td>

              </tr>
              {% endfor %}
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function exportData(){
/* Get the HTML data using Element by Id */
var table = document.getElementById("tblStocks");

/* Declaring array variable */
var rows =[];

  //iterate through rows of table
for(var i=0,row; row = table.rows[i];i++){
    //rows would be accessed using the "row" variable assigned in the for loop
    //Get each cell value/column from the row
    column1 = row.cells[0].innerText;
    column2 = row.cells[1].innerText;
    column3 = row.cells[2].innerText;
    column4 = row.cells[3].innerText;
    column5 = row.cells[4].innerText;
    column6 = row.cells[5].innerText;
    column7 = row.cells[6].innerText;
    column8 = row.cells[7].innerText;
    // column9 = row.cells[8].innerText;
    // column10 = row.cells[9].innerText;
    // column11 = row.cells[10].innerText;

/* add a new records in the array */
    rows.push(
        [
            column1,
            column2,
            column3,
            column4,
            column5,
            column6,
            column7,
            column8
            // column9,
            // column10,
            // column11
        ]
    );

    }
    csvContent = "data:text/csv;charset=utf-8,";
     /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
    rows.forEach(function(rowArray){
        row = rowArray.join(",");
        csvContent += row + "\r\n";
    });

    /* create a hidden <a> DOM node and set its download attribute */
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "Expense_Report.csv");
    document.body.appendChild(link);
     /* download the data file named "Stock_Price_Report.csv" */
    link.click();
    }
</script>
{% endblock %}