{% extends 'Staff_index.html'%}
{% load static %}
{% block content %}

       
          <div class="row">
            
            <div class="col-12 col-sm-6 col-md-6 col-lg-6  grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Farm Revenue</h4>
                  <canvas id="chart" style="height: 230px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Over View</h4>
                  <canvas id="pie-chart" style="height: 250px"></canvas>
                </div>
              </div>
            </div>
          </div>
          
          {% for i in var %}
          <div>
            <center>
                <a href="{% url 'Staff_clientdashboard' i.id%}"><button type="button" style="background-color: green; color: #fff;" class="btn  btn-icon-text mb-4">BACK</button></a>
                <!-- <a href="{% url 'user_fertilizer_applications' %}" class="btn btn-info mb-4"> BACK</a> -->
            </center>
        </div>
        {%endfor%}
          
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
          <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
          <script src="{% static 'assets/js/chart.js' %}"></script>
          
          <script>
          
            var config = {
              type: 'pie',
              data: {
                
                datasets: [{
                  
                  data: {{ data|safe }},
                  backgroundColor: ['rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)'
                  ],
                }],
                
                labels: ['Quantity','Revenue'],
          
              },      
              options: {
                responsive: true
              }
            };
          
            window.onload = function() {
              var ctx = document.getElementById('pie-chart').getContext('2d');
              window.myPie = new Chart(ctx, config);
            };
          
          </script>
          <script>
          
          let ctx = document.getElementById("chart").getContext("2d");
          let chart = new Chart(ctx, {
          type: "bar",
          data: {
          labels: ['Quantity','Revenue'],
          datasets: [
          {
            // label: "Performance",
            // backgroundColor: "#79AEC8",
            // borderColor: "#417690",
          
            data: {{ data|safe }},
            backgroundColor: ['rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)'
            
            ],
          
            
          }
          ]
          },
          options: {   
            legend: {
            display: false
            },
           
            scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                        max:100000
                  }
              }]
          }
             
          }
          });
          </script> 
         
          

{% endblock %}