{% extends 'Staff_index.html'%}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-lg-10"></div>
          <div class="col-7 col-sm-4 col-md-3 col-lg-2">
              <a href="{% url 'Staff_add_farm_weather' %}" class="btn" style="background-color: blueviolet; color: white;">Add New</a>
          </div>
        </div>
        <h4 class="card-title">Entered Details</h4>
        <div class="table-responsive ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                  Parameters
                </th>
                <th style="background-color: green; color: #fff;">
                    Date
                </th>
                <th style="background-color: green; color: #fff;">
                    Morning
                </th>
                <th style="background-color: green; color: #fff;">
                    Evening
                </th>
                <th style="background-color: green; color: #fff;">
                    Average
                </th>
                <th style="background-color: green; color: #fff;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in var %}
              <tr style="background-color: rgb(241, 249, 252);">
                <td>{{i.parameters}}</td>
                <td>{{i.date|date:"d-m-Y"}}</td>
                <td>{{i.morning}}</td>
                <td>{{i.evening}}</td>
                <td>{{i.average}}</td>
                <td>
                  <a href="{% url 'Staff_viewedit_farmweather'  i.id%}">
                    <div class="btn  btn-sm" style="color: white;  background-color: maroon;"><i class="ti-reload pr-2"></i>View/Edit</div>
                  </a>
                </td>
              </tr>
              {% endfor %}
              <!-- <tr style="background-color: rgb(241, 249, 252);">
                <td>Temperature</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="background-color: rgb(241, 249, 252);">
                <td>Humidity</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="background-color: rgb(241, 249, 252);">
                <td>Sun Light</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
               -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}