{%extends 'user_index.html'%} 
{% load static %} 
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(function() {
      var dtToday = new Date();
      var month = dtToday.getMonth() + 1;
      var day = dtToday.getDate();
      var year = dtToday.getFullYear();
      if (month < 10)
          month = '0' + month.toString();
      if (day < 10)
          day = '0' + day.toString();
      var maxDate = year + '-' + month + '-' + day;
      $('#startdate').attr('max', maxDate);
    })
</script>

{% for i in var%}

<div class="row">
    <div class="col-md-9 grid-margin stretch-card">
        <div class="card" style="height: auto;">

            <div class="card-body">
                <div class="col-12 grid-margin">
                    <h3>Edit Farm Revenue Details</h3>
                </div>
                <form method="post" action="{% url 'user_farmrevenue_update' i.id%}" enctype="multipart/form-data"> {% csrf_token %}


                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            Revenue Type
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" name="revenue_type" >
                                <!-- <option value="{{i.revenue_type}}">{{i.revenue_type}}</option>
                                <option>Sale of Product</option>
                                <option>Services</option> -->

                                {% if i.revenue_type == "Sale of Product"%}
                                <option value="{{i.revenue_type}}">{{i.revenue_type}}</option>
                                <option>Services</option>   

                                {% elif i.revenue_type == "Services"%}
                                <option value="{{i.revenue_type}}">{{i.revenue_type}}</option>
                                <option>Sale of Product</option>
                                
                                {%else%}
                                <option value="{{i.revenue_type}}">{{i.revenue_type}}</option>
                                <option>Sale of Product</option>
                                <option>Services</option>
                                {%endif%}
                            </select>
                            <!-- <input type="text" class="form-control form-control-sm" autocomplete="off" name="revenue_type" value="{{i.revenue_type}}" required> -->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            Type Description
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" autocomplete="off" name="type_description" value="{{i.type_description}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            Date
                        </label>
                        <div class="col-sm-9">
                            <input type="date" id="startdate" class="form-control form-control-sm" autocomplete="off" name="date" value="{{i.date|date:'Y-m-d'}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            Quantity/Time
                        </label>
                        <div class="col-sm-9">
                            <input type="number" step="any" class="form-control form-control-sm" autocomplete="off" name="quantity" value="{{i.quantity}}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            Revenue
                        </label>
                        <div class="col-sm-9">
                            <input type="number" step="any" class="form-control form-control-sm" autocomplete="off" name="revenue" value="{{i.revenue}}" required>
                        </div>
                    </div>
                    <div>
                        <center>
                            <button type="submit" style="background-color: green; color: #fff;" class="btn  btn-icon-text mb-4">SUBMIT</button>
                            <a href="{% url 'user_farm_revenue' %}" class="btn btn-info mb-4"> BACK</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endfor%}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 3000
        }).then(function () {
            javascript: history.go(-2);
        })

    </script>
    {% endif %}

{% endblock %}