{% extends 'user_index.html'%}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- <div class="row">
          <div class="col-5 col-lg-10"></div>
          <div class="col-7 col-sm-4 col-md-3 col-lg-2">
              <a href="{% url 'user_add_farm_revenue' %}" class="btn" style="background-color: blueviolet; color: white;">Add New</a>
          </div>
        </div> -->
        <div class="row">
        </div>
        <h4 class="card-title">Entered Details</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                 Revenue Type
                </th>
                <th style="background-color: green; color: #fff;">
                 Type Description
               </th>
               <th style="background-color: green; color: #fff;">
               Date
              </th>
                <th style="background-color: green; color: #fff;">
                   Quantity/Time
                </th>
               <th style="background-color: green; color: #fff;">
                    Revenue
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in var %}
              <tr style="background-color: rgb(241, 249, 252);">
                <td>{{i.revenue_type}}</td>
                <td>{{i.type_description}}</td>
                <td>{{i.date|date:"d-m-Y"}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.revenue}}</td>
              </tr>
              {% endfor %}
              <!-- <tr style="background-color: rgb(241, 249, 252);">
                <td>Vegitables</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="background-color: rgb(241, 249, 252);">
                <td>Herbs</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="background-color: rgb(241, 249, 252);">
                <td>Fruits</td>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}