{% extends 'user_index.html'%}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          
        </div> 
        <h4 class="card-title">Entered Details</h4>
        <div class="table-responsive ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="background-color: green; color: #fff;">
                  Parameters
                </th>
                <th style="background-color: green; color: #fff;">
                    Date
                </th>
                <th style="background-color: green; color: #fff;">
                    Morning
                </th>
                <th style="background-color: green; color: #fff;">
                    Evening
                </th>
                <th style="background-color: green; color: #fff;">
                    Average
                </th>
                
              </tr>
            </thead>
            <tbody>
              {% for i in var %}
              <tr style="background-color: rgb(241, 249, 252);">
                <td>{{i.parameters}}</td>
                <td>{{i.date|date:"d-m-Y"}}</td>

                {% if i.parameters == "Temperature"%}
                <td>{{i.morning}}°C</td>
                <td>{{i.evening}}°C</td>
                <td>{{i.average}}°C</td>

                {% elif i.parameters == "Humidity"%}
                <td>{{i.morning}}%</td>
                <td>{{i.evening}}%</td>
                <td>{{i.average}}%</td>

                {% elif i.parameters == "Sunlight"%}
                <td>{{i.morning}}Lx</td>
                <td>{{i.evening}}Lx</td>
                <td>{{i.average}}Lx</td>

                {% else %}
                <td>{{i.morning}}</td>
                <td>{{i.evening}}</td>
                <td>{{i.average}}</td>

                {%endif%}
                
              </tr>
              {% endfor %}
            
              <!--
               -->
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}